.page-header
  = link_to new_property_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Property
  %h1 Listing properties

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Address 1
        %th Address 2
        %th City
        %th State
        %th Zip
        %th
        %th
        %th

    %tbody
      - @properties.each do |property|
        %tr
          %td= property.name
          %td= property.address1
          %td= property.address2
          %td= property.city
          %td= property.state
          %td= property.zip
          %td
            %span.glyphicon.glyphicon-eye-open
            = link_to 'Show', property
          %td
            %span.glyphicon.glyphicon-edit
            = link_to 'Edit', edit_property_path(property)
          %td
            %span.glyphicon.glyphicon-remove
            = link_to 'Destroy', property, :data => { confirm: 'Are you sure?' }, :method => :delete
